body {
    margin: 0px;
}


h1{
    text-align: center;
    /*background-color: rgb(90, 91, 124);*/
    padding: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h3 {
    padding: 20px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: rgb(38, 39, 51);
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 30px;
}

.navbar a:hover {
    background-color: rgb(17, 18, 26);
}

.navbar li {
    float: left;
}

.aside {
    color: white;
    float: left;
    padding: 20px;
    width: 20%
    
}

.section {
    color: white;
    float: left;
    padding: 20px;
    width: 40%
    
    
}

.projects-paragraph {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about-me-paragraph {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bloody {
    background-color: rgb(27, 24, 53);
}
.home-page-image {
    padding: 50px;
}

.pengywithmilk {
    width: 50px;
    height: 50px;
}

.aboutmeimage {
    padding: 50px;
}

.projects-image {
    width: 700px;
    /*height:200px;*/
}

.p-aside {
    color: white;
    float: left;
    padding: 20px;
    width: 20%
    
}

.p-section {
    color: white;
    float: left;
    padding: 100px;
    width: 40%
    
    
}
